<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div
      style="
        background-color: rgb(168, 127, 127);
        color: white;
        text-align: center;
      "
    >
      <h1 style="color: white">Hello <%= name %></h1>
      <h2 style="color: white">Your Otp is : <%= otp %></h2>
    </div>
  </body>
</html>
